:host {
    display: block;
    margin-top: 1rem;
  }
  
  .open-close-container {
    // border: 1px solid #dddddd;
    margin-top: 1em;
    padding: 20px 20px 0px 20px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }

  .show-todo {
    text-align: center;  
  }

  nav {
    margin-top: 40px;
  }

  a {
    text-decoration: none;
  }
           
  .todo-btn, .btn-primary {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    margin-left: 43%;
    padding: 10px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    width: 15%;
  }

  .todo-btn:hover, .btn-primary {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
  .btn-primary {
    border: 0px;
  }